<ul id="lists">
  <% @lists.each_with_index do |todolist, i| %>
    <li>
      <a>
        <h2><a href="/lists/<%= i %>"><%= todolist.name%></a></h2>
        <p><%=todolist.all_done.size%> / <%= todolist.size%></p>
      </a>
    </li>
  <% end %>
</ul>
